/* sirve para añadir estilos a toda la pagina */

*{
    padding: 0;
    margin: 0;
    ;
}
.fondo{
    background-color: aquamarine;
}
.hero{
    background-image: linear-gradient(120deg,rgba(22, 219, 111, 0.5),
    rgba(115, 171, 177, 0.8) ), url(imagen1.jpeg);
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}   
.texto-hero{
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-120{
    font-size: 120px;
    text-shadow: 0 0 15px rgb(157, 0, 255);
}
.texto-110{
    font-size: 110px;
    text-shadow: 0 0 10px rgb(9, 255, 0);
    
}
.contenedor{
    width: 90%;
    margin: auto;
    padding: 80px 0;
    
}
.titulo-info{
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    color: green;
    text-shadow:  3px 3px 0 #1f4f01,
    -3px 3px 0 #1f4f01,
    -3px -3px 0 #1f4f01,
    3px -3px 0 #1f4f01;
    font-weight: bold;
}
.titulo-juegos{
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(34, 255, 14);
    text-shadow: 3px 3px 0 #1f4f01,
    -3px 3px 0 #1f4f01,
    -3px -3px 0 #1f4f01,
    3px -3px 0 #1f4f01;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}
.titulo-galeria{
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(234, 115, 255);
    text-shadow: 3px 3px 0 rgb(25, 19, 68),
    -3px 3px 0 rgb(25, 19, 68),
    -3px -3px 0 rgb(25, 19, 68),
    3px -3px 0 rgb(25, 19, 68);
    font-weight: bold;
}
.titulo-Contacto{
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 0 rgb(139, 21, 228),
    -3px 3px 0 rgb(139, 21, 228),
    -3px -3px 0 rgb(139, 21, 228),
    3px -3px 0 rgb(139, 21, 228);
    font-weight: bold;;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: bold;
/* rgb(139, 21, 228 */
}
.contenedor-card{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 27%;
    text-align: center;
    box-shadow: 0 0 5px 0 black;
    border-radius: 10px;
    background-color: rgb(13, 241, 248);
}
.card:hover{
    box-shadow: 0 0 10px 0 black;
    transform: scale(1.1);
    transition: transform 0.6s;
    cursor: auto;
}
.card i{
    color: rgb(31, 115, 6);
    font-size: 50px;
    
}
.card h3{
    padding-top: 25px;
    padding-bottom: 25px;
}
.card p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    
}

.margen-icon{
    margin-top: 25px;
}
.contenedor-imagen{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}
.contenedor-imagen img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 35px;
    display: block;
    box-shadow: 0 0 10px 0 black;
    cursor: pointer;
    overflow: hidden;
}
.contenedor-imagen img:hover{
    box-shadow: 0 0 10px 0 black;
    transform: scale(1.1);
    transition: transform 0.6s;
    cursor: auto;
}
.galeria{
    background-color: rgb(86, 168, 255);
}
.input{
    background: transparent;
    border: 0;
    color: white;
    outline: none;
    border: 1px solid white;
    font-size: 25px;

}
.input::placeholder{
    color: white;
    font-family: 'Segoe UI';
    font-weight: 900;
}
.input-ancho{
    width: 49%;
    margin-bottom: 30px;
    display: inline-block;
    height: 40px;
}

.textarea-ancho{
    width: 99%;
    margin-bottom: 15px;
}
/* fin seccion */
.nav{
    background-color: rgb(255, 221, 0);
    list-style-type: none;
    width: 100%;
    position: fixed;
}

.nav li{
    float: left;
}

.nav li a{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

.nav li a:hover{
    background-color: azure;
    color: black;
}
.footer{
    background-image: linear-gradient(120deg,rgb(0, 0, 59),
    rgba(52, 43, 73, 0.8) ), url(IMAGENCONTACTO.jpg);    color: rgb(0, 247, 255);
}
.footer p{
    font-size: 25px;
}
